<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kotitaulu</title>

    {% load staticfiles %}

    <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css'  %}" type="text/css"/>

    <!--<script type="javascript" src="{% static 'js/bootstrap.min.js'  %}"/>
    <script type="javascript" src="{% static 'js/clock.js'  %}"/>
    <script type="javascript" src="{% static 'jsonparser/clock.js'  %}"/>-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script>
      function loadJsonData() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                dataFromTS = JSON.parse(this.responseText);
                document.getElementById("temperature").innerHTML = dataFromTS.feeds[0].field1 + "°C";
                document.getElementById("humidity").innerHTML = "Ilmankosteus on " + dataFromTS.feeds[0].field2 + "%";
                
                field1 = parseFloat(dataFromTS.feeds[0].field3);
                    
                    if (field1 <= 0.06) {
                        document.getElementById("ppm").innerHTML = "Ilmanlaatu on loistava."
                    } else if (field1 <= 0.1 && field1 >= 0.06) {
                        document.getElementById("ppm").innerHTML = "Ilmanlaatu on hyvä."
                    } else if (field1 <= 0.15 && field1 >= 0.1) {
                        document.getElementById("ppm").innerHTML = "Ilmanlaatu on ok."
                    } else if (field1 <= 0.2 && field1 >= 0.15) {
                        document.getElementById("ppm").innerHTML = "Ilmanlaatu on huono."
                    } else if (field1 >= 0.15) {
                        document.getElementById("ppm").innerHTML = "Ilmanlaatu on vaarallisen huono. Poistu tilasta välittömästä."
                    }
            }
        };
            
        xmlhttp.open("GET", "https://api.thingspeak.com/channels/180604/feeds.json?results=1", true);
        xmlhttp.send();
        var t = setTimeout(loadJsonData, 500);
      }
      </script>

      <script>
      function drawCharts() {
        // Load Charts and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Draw the chart for Humidity when Charts is loaded.
        google.charts.setOnLoadCallback(drawHumChart);

        // Draw the chart for the Temperature when Charts is loaded.
        google.charts.setOnLoadCallback(drawTempChart);

        // Draw the chart for the Airquality when Charts is loaded.
        google.charts.setOnLoadCallback(drawAirqualityChart);
        

        /*
        // Callback that draws the pie chart for Humidity.
        function drawHumChart() {

            // Create the data table for Humidity
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Time');
            data.addColumn('number', 'Humidity');
            data.addRows([
              [1, 21],
              [2, 22],
              [3, 23],
              [4, 22],
              [5, 23]
            ]);

            // Set options for Humidity chart.
            var options = {title:'Humidity over Time'};

            // Instantiate and draw the chart for Humidity.
            var chart = new google.visualization.LineChart(document.getElementById('Hum_chart_div'));
            chart.draw(data, options);
        }
        */
          
        // Callback that draws the pie chart for Humidity.
        function drawHumChart() {

            // Create the data table for Humidity
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Time');
            data.addColumn('number', 'Humidity');
            data.addRows([
              [1, 21],
              [2, 22],
              [3, 23],
              [4, 22],
              [5, 23]
            ]);

            // Set options for Humidity chart.
            var options = {
                legend: 'none',
                chartArea: {left: 10, right: 10, top: 20, bottom: 10, width: '100%', height: '100%'},
                backgroundColor: 'transparent',
                colors: ['#3B7CEC'],
                curveType: 'function',
                pointShape: 'cicrle',
                pointSize: 10,
                vAxis: {
                    textPosition: 'none',
                    gridlines: {
                        color: 'transparent'
                    }
                },
                hAxis: {
                    textPosition: 'none',
                    gridlines: {
                        color: 'transparent'
                    }
                },
            };

            // Instantiate and draw the chart for Humidity.
            var chart = new google.visualization.ColumnChart(document.getElementById('Hum_chart_div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for Temperature.
        function drawTempChart() {

            // Create the data table for Temperature.
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Time');
            data.addColumn('number', 'Temperature');
            data.addRows([
              [1, 21],
              [2, 21],
              [3, 23],
              [4, 22],
              [5, 21]
            ]);

            // Set options for Temperature chart.
            var options = {
                legend: 'none',
                chartArea: {left: 10, right: 10, top: 20, bottom: 10, width: '100%', height: '100%'},
                backgroundColor: 'transparent',
                colors: ['#EC813B'],
                curveType: 'function',
                pointShape: 'cicrle',
                pointSize: 10,
                vAxis: {
                    textPosition: 'none',
                    gridlines: {
                        color: 'transparent'
                    }
                },
                hAxis: {
                    textPosition: 'none',
                    gridlines: {
                        color: 'transparent'
                    }
                },
            };
            
            
            

            // Instantiate and draw the chart for Temperature.
            var chart = new google.visualization.LineChart(document.getElementById('Temp_chart_div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for Airquality.
        function drawAirqualityChart() {

            // Create the data table for Airquality.
            var data = new google.visualization.arrayToDataTable([
                ['Name', 'Amount'],
                ['Typpi', 78.08],
                ['Happi', 20.94],
                ['Epäpuhtaudet', 0.9]
            ]);

            // Set options for Airquality chart.
            var options = {
                legend: 'none',
                chartArea: {top: 20, bottom: 10, width: '100%', height: '100%'},
                textPosition: 'none',
                pieSliceText: 'none',
                backgroundColor: 'transparent',
                colors: ['#EC3BC8'],
                pieHole: 0.4,
                
            };

            // Instantiate and draw the chart for Airquality.
            var chart = new google.visualization.PieChart(document.getElementById('Airquality_chart_div'));
            chart.draw(data, options);
        }
      }
      </script>

      <script>
          function startTime() {
              var today = new Date();
              var h = today.getHours();
              var m = today.getMinutes();

              m = checkTime(m);

              document.getElementById('clock').innerHTML =
                  h + "." + m;
              var t = setTimeout(startTime, 500);
          }
          function checkTime(i) {
              if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
      </script>
      <!-- GRAPH SCRIPTS -->
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  </head>
  <body class="container" onload="startTime(); loadJsonData(); drawCharts();">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="clock"></div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>


  </body>

</html>
