{% extends "aircube/header.html" %}
{% block content %}
          <div class="row">
              <div class="col-xs-3">
                  <div class="card" id="temp-card">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-block">
                      <h4 class="card-title" style="color: #EC813B">LÄMPÖTILA</h4>
                      <p class="card-text" id="temperature"></p>
                      <div id="Temp_chart_div"></div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="card" id="hum-card">
                    <div class="card-block">
                      <h4 class="card-title"  style="color: #3B7CEC">KOSTEUS</h4>
                      <p class="card-text" id="humidity"></p>
                      <div id="Hum_chart_div"></div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="card" id="airquality-card">
                    <div class="card-block">
                      <h4 class="card-title"  style="color: #EC3BC8">LAATU</h4>
                      <p class="card-text" id="ppm"></p>
                      <div id="Airquality_chart_div"></div>
                    </div>
                  </div>
              </div>
          </div>


{% endblock %}
